[2015-05-25 09:32] warpech opened #1 "Rename to .io"
"Developer Center" sounds too 90s

[2015-06-02 16:15] warpech opened #2 "Update the InvoiceDemo tutorial"
Some images and code snippets in the [InvoiceDemo tutorial](http://starcounter.io/tutorials/1-introduction-to-part-1/) (part 1 and 2) are not up-to-date with the current [code](https://github.com/Starcounter/InvoiceDemo). Please update. Make changes to the text as well if you feel like.

[2015-06-03 15:27] miyconst opened #3 "Fix footer position"
The footer is not fixed at the bottom of the page and short pages look ugly, an example: http://starcounter.io/tutorials/

To fix this the following styles should be added:
[code]

I would do that myself, but I do not have access to the website's source.

[2015-06-03 15:30] miyconst commented on #2
I went through the tutorials and fixed images/code snippets. Also fixed some links and spelling errors.

[2015-06-03 15:35] miyconst commented on #2
Added Prev/Next buttons to the bottom of each page.

[2015-06-03 15:38] miyconst opened #4 "Fix page editor to don't remove white space from code snippets"
Currently the MD code snippets are supported, but visual editor cuts all of the white spaces, which makes code unreadable.

[2015-06-03 15:53] warpech commented on #4
The fix that I use is not to use the visual editor. Any better ideas?

[2015-06-03 15:58] miyconst commented on #4
I also did like this, but if you switch tab by accident, then all white spaces will be removed.

[2015-06-03 15:59] miyconst commented on #4
There should be an option for the html editor to don't remove white spaces. The WordPress developer should be asked for this.

[2015-06-04 12:49] warpech commented on #4
By WordPress developer do you mean http://automattic.com/? I am sure they heard about this issue, which is quite an old problem: http://wordpress.stackexchange.com/questions/90065/preserve-white-space-in-page

Solution is not to use visual editor or replace it using some plugin. Besides that, I think that visual editor is not compatible with Markdown plugin anyway.

Radical solution: Go to Admin->

[2015-06-04 12:49] #4 closed

[2015-06-04 12:58] miyconst commented on #4
By developer, I meant the person who set up the website. Anyway, that is not a big deal, I will just use the text editor instead of visual.

[2015-06-04 13:09] warpech commented on #3
Good catch, but it didn't work well in mobile mode (narrow window) because of some other responsive-design rules. I've wrapped it in `@media` rule to fix that.

Still there is some problem when there is WordPress admin bar on top, but we can live with that.

I've added you Admin privileges.

[2015-06-04 13:19] miyconst commented on #3
Yes, `@media` rule is good, I forgot about mobile clients.

Admin bar only adds some height to the document, but does not break layout, it looks okay, I think.

Should the issue be closed?

[2015-06-04 13:39] warpech commented on #3
Thanks, closing

[2015-06-04 13:39] #3 closed

[2015-06-04 13:45] warpech commented on #2
Thanks, closing!

[2015-06-04 13:45] #2 closed

[2015-06-05 10:22] warpech opened #5 "Improve syntax highlighting"
I think that plugin that we currently use (Crayon) does not give optimal results with C# and HTML.

Let's consider using some other, e.g. https://wordpress.org/plugins/wp-code-highlightjs/ . First, we need to check if it colors HTML Custom Elements better than Crayon

Also, the colors could be improved. These guys have it nicely aligned with their theme: https://parse.com/docs/ios/guide

[2015-06-05 10:23] warpech commented on #1
Done. Logo changed to "Starcounter.io"

[2015-06-05 10:23] #1 closed

[2015-06-08 10:33] warpech opened #6 "Improve typography"
Make default font size bigger, improve subsection headers

[2015-06-08 10:34] warpech opened #7 "Interactive Developer Features on homepage"
Improve the "Developer Features" element on homepage to dynamically expand to code samples.

[2015-06-17 07:45] warpech opened #8 "Explain importing Web Components"
As @miyconst wrote in issue https://github.com/Polyjuice/Launcher/issues/87:

This should be turned into a starcounter.io article about working with Web Components

[2015-06-17 15:55] miyconst commented on #8
Here is the first version: http://starcounter.io/guides/apps/working-with-webcomponents/

[2015-06-18 07:48] warpech commented on #8
Nice, thanks! Some issues:

1. use the correct W3C letter casing in page title and content: "Web Components", "HTML Imports"
2. the Next/Prev buttons lead to wrong pages. This can be fixed by changing "Order" in WordPress page admin.

[2015-06-18 12:02] miyconst commented on #8
Done.

[2015-06-18 17:10] warpech commented on #5
Done. Replaced Crayon with WP Code Highlight.js, which has nicer themes. Used dark color theme that has more character.

[2015-06-18 17:10] #5 closed

[2015-06-18 17:11] warpech commented on #8
Looks good!

[2015-06-18 17:11] #8 closed

[2015-06-19 13:35] dan31 commented on #5
Looks good!

[2015-06-25 12:35] warpech opened #9 "New Guide category "Tools""
A new guide category "Tools" should be created to cover developer tools provided with Starcounter as well as external tools.

Proposed subpages for beginning:

1. Visual Studio - explain VS2012 and VS2013 integration here (Starcounter extension, Intellisense, debugging, using edition libraries). Some initial content: https://github.com/Starcounter/Starcounter/wiki/Inside-the-Starcounter-.csproj-fi

[2015-06-25 12:41] parherman commented on #9
@per-samuelsson should probably be consulted on the star/staradmin bits

[2015-06-25 13:26] warpech commented on #9
Sorry, wrong Per :) Fixed

[2015-06-26 06:37] per-samuelsson commented on #9
@warpech @dan31

I think this is a really excellent idea, and it will make it a lot clearer for developers what it means to choose Starcounter in terms of working with it, developing applications.

If we want to go one step lower further, we could add a [7]. Administrative REST API, to cover the rather pure REST API that is the foundation of star, staradmin, the web administrator (at least parts o

[2015-06-26 07:56] warpech commented on #9
This is what I actually meant by "6. Administrator API". I renamed it to "Administrator REST API" to clarify

[2015-06-26 08:02] per-samuelsson commented on #9
Totally my bad. I cant understand why I didn't see that! I somehow read the whole 5-6-section as "the web administrator". Forget my comment then.

Actually, its more than a REST API, if you look even deeper. The most minimal usable part / API is actually a simple library (a .dll). The REST API is built on top of that. But then again I think its quite unlikely that applications will be built using

[2015-06-29 12:30] warpech opened #10 "Explain life cycle of data log"
Write an article that explains what is the life cycle of log files. When are `.log.bak` files created and how to manage/remove them systematically.

It is not anywhere on the GH wiki. Some info is here:
https://github.com/Starcounter/Starcounter/issues/877

[2015-06-29 12:31] warpech commented on #10
@dan31 who can do this? What category does it belong to? Tools? Maybe "Tools" should be separated into "Development" and "Administration"

[2015-06-29 14:58] dan31 commented on #10
This belongs to "Database Administration" and "Running Starcounter in-production" / "Startcounter's checklist to go for production". I have to address that along with other high-level production-aware texts on our website. Hint me in August, Marcin!

[2015-06-29 16:17] warpech commented on #10
OK, thanks!

[2015-07-01 08:34] warpech opened #11 "Explain middleware filters in Guide"
Currently middleware filters are only introduced in blog:

http://starcounter.io/nightly-changes/introducing-middleware-filters-starting-with-build-2-0-3100-3/
http://starcounter.io/nightly-changes/addingskipping-middleware-filters/

They should be also explained in Guide: http://starcounter.io/guides/network/

[2015-07-01 10:03] alemoi commented on #11
Will do that! Thank you for creating the issue!

[2015-07-01 22:04] alemoi commented on #11
Fixed! Thanks for reporting!

[2015-07-01 22:04] #11 closed

[2015-07-14 07:25] mtornwall opened #12 "Compatibility with IE11"
Many Windows servers today run IE11 as their default browser. However, the Starcounter.io "other versions" downloads page appears to be using Polymer. This is unfortunate because IE11 seems to have no understanding of Polymer templates, so the site is unusable.

[2015-07-14 07:53] miyconst commented on #12
Thank you for reporting this, I will try to fix it.

[2015-07-14 08:05] miyconst commented on #12
@mtornwall could you please provide some more info? Screenshot, full browser version?

The page works fine for me under Win8.1 IE11 & Win Server 2012 IE10, unfortunately I don't have  Win Server 2012 R2 which has IE11 by default.

[2015-07-14 08:26] mtornwall commented on #12
Silly me. The problem is not with IE itself but with the default security configuration on Windows Server 2012 R2, which blocks JavaScript so that the polyfills cannot run. Not much to do about that I guess?

[2015-07-14 08:29] miyconst commented on #12
Yes, there is no way to change browser settings from a webpage.

The most I can do is to add a message:

[code]

[2015-07-14 08:30] mtornwall commented on #12
That's good enough, I think.

[2015-07-14 08:30] #12 closed

[2015-07-14 19:11] miyconst commented on #12
Done.

[2015-07-16 09:44] mtornwall opened #13 "Dead link to forum from download page"
The "Forum" link at the top of the page at:

http://downloads.starcounter.com/download

Is dead.

[2015-07-20 07:45] warpech opened #14 "Newsletter signup form should be moved to footer"
The newsletter signup form is currently located on the Downloads page. It should be moved to the footer. This is a well established UI pattern: http://unity3d.com/, https://parse.com/, http://ionicframework.com/ (scroll to bottom)

[2015-07-20 07:47] warpech opened #15 "Newsletter signup form takes long to load"
Currently, the newsletter signup form loads from an external server and it takes a long time to load

The form should be part of the .io website. It should communicate with the external server via Ajax. If impossible (CORS restriction), then let's use a local iframe to display the form.

[2015-07-20 12:25] warpech opened #16 "Explain starting and stopping the server"
Explain the typical ways to start and stop the server gracefully.

Need for this is mentioned by @mtornwall in https://github.com/Starcounter/Starcounter/issues/2815#issuecomment-121258918

[2015-07-20 12:32] warpech opened #17 "Explain HTTP CORS"
As mentioned in https://github.com/Starcounter/Starcounter/issues/2795#issuecomment-122870026

[2015-07-20 12:33] warpech opened #18 "Explain handling 404"
Handling 404 situations (in current app and globally) should be explained, as mentioned in https://github.com/Starcounter/Starcounter/issues/2795#issuecomment-122870026

[2015-07-20 14:42] warpech opened #19 "Add captions to video on the homepage"
As @per-samuelsson pointed out, it is not very clear what is the purpose of the homepage video. It should be redone with text captions (I have ScreenFlow to do it) and voiceover or music.

[2015-07-20 14:44] warpech opened #20 "Explain Puppet/Puppeteer"
As @per-samuelsson pointed out in his review of InvoiceDemo:

I think it should be at least explained in Guide with some nice graphics

[2015-07-21 15:27] warpech opened #21 "Add copy to clipboard buttons above code snippets"

[2015-07-26 20:34] alemoi commented on #18
Described in the network guides: http://starcounter.io/guides/network/handling-responses/
Serving static resources

[2015-07-26 20:34] #18 closed

[2015-07-28 01:41] warpech opened #22 ""Multiple pages" contains outdated code"
http://starcounter.io/guides/web/multiple-pages/

[2015-07-28 01:42] warpech opened #23 "Pages about partials contain unrendered emoji"
http://starcounter.io/guides/web/partials/
http://starcounter.io/guides/web/more-on-partials/

Proposed solution - replace with Font Awesome? It is used in few other pages: http://starcounter.io/download/

[2015-07-28 01:46] warpech opened #24 "Duplicate content on JSON pages"
These two JSON pages contain some duplicate content about custom property binding:

http://starcounter.io/guides/json/populate-json-with-database-data/
http://starcounter.io/guides/json/json-data-binding/

I think that the custom binding part can be removed completely from http://starcounter.io/guides/json/populate-json-with-database-data/

[2015-07-28 08:17] tomalec commented on #23
Fixed, thanks

[2015-07-28 08:17] #23 closed

[2015-07-28 09:54] warpech commented on #13
Thanks for reporting! This needs to be fixed by @andwah

[2015-07-28 10:18] warpech commented on #6
Fixed

[2015-07-28 10:18] #6 closed

[2015-07-28 10:30] chrhol commented on #24
I did as you suggested, I removed the sections from the first document explaining custom bindings. It could probably be reworked to get a better flow between the documents but at least we don't explain the same thing in different places for this.

[2015-07-28 10:30] #24 closed

[2015-07-28 10:47] warpech commented on #24
Thanks!

[2015-07-29 15:56] warpech commented on #22
Fixed

[2015-07-29 15:56] #22 closed

[2015-07-29 15:57] warpech commented on #21
I added a "Select text" button

"Copy to clipboard" is not possible without Flash and Flash is being killed by web standards

[2015-07-29 15:57] #21 closed

[2015-07-29 15:57] warpech commented on #20
Added initial explanation: http://starcounter.io/guides/web/

[2015-07-30 09:27] warpech commented on #19
Remove "using System" where it's not used

[2015-08-05 12:38] warpech opened #25 "Use the phrase "Starcounter apps" consistently"
Currently in few places, the term "Polyjuice apps" is used sometimes. The technology behind the apps is called Starcounter and the term "Starcounter apps" should be used in such places.

This issue applies to starcounter.io as well as all our wikis and READMEs.

[2015-08-06 07:03] miyconst opened #26 "Add search to the Docs section"
The Blog section has search field, which is very useful. It would also be very helpful on the Docs section, especially now, when we migrate content from WiKi and change terminology from `Polyjuice` to `Starcounter`.

cc @warpech

[2015-08-06 12:07] warpech opened #27 "Change polyjuice-include to starcounter-include"
On starcounter.io there are 3 articles that need change from polyjuice-include to starcounter-include:

http://starcounter.io/nightly-changes/unified-convention-for-partials-in-starcounter-2-0-3193-3/
http://starcounter.io/guides/web/partials/
http://starcounter.io/guides/web/more-on-partials/

Can you do that @miyconst?

[2015-08-06 12:10] warpech commented on #26
Currently search functionally actually searches all .io content (Blog and Docs included), but the search result page looks very poor.

I will try to improve that by using some plugin.

[2015-08-06 16:07] warpech commented on #26
I have installed Revelanssi plugin, and it is improved, but the problem with it that it highlights search results only in blog posts, not in pages.

I will try my luck tomorrow with the following apps:
https://wordpress.org/plugins/better-search/
https://wordpress.org/plugins/search-everything/
https://wordpress.org/plugins/wp-ultimate-search/

[2015-08-06 16:13] warpech commented on #26
I installed Better Search plugin. It has highlighting, but now I am worried about search relevancy. I will live it for now.

[2015-08-06 16:20] miyconst commented on #27
I have replaced all of the `polyjuice-include` with `starcounter-include` and some *Polyjuice* with *Starcounter*.

But the pages still should be cleaned up from Polyjuice terminology.

[2015-08-07 07:43] warpech commented on #27
That's an ongoing effort :) Closing this one, thanks!

[2015-08-07 07:43] #27 closed

[2015-08-13 07:51] miyconst commented on #25
@warpech can this one be also closed?

[2015-08-13 11:30] andwah commented on #13
Link removed

[2015-08-13 11:30] #13 closed

[2015-08-24 12:21] warpech opened #28 "Simplify text on Partials page"
Currently the text on http://starcounter.io/guides/web/partials/ it is still quite confusing.

I propose to use the term "nested page" for a simple page in a page (e.g. `m.FocusedPage = new PersonPage()`).

Partial is a nested page requested using Self.GET. The response may contain other app responses if they are triggered through mapping.

@tomalec, @miyconst does it sound simple and exact?

[2015-08-24 12:52] warpech commented on #28
@tomalec can you check if the page https://github.com/Polyjuice/Launcher/wiki/Partials can be replaced with just a link to http://starcounter.io/guides/web/partials/ ? There is some additional content and I don't know what to do with it

[2015-08-24 12:53] warpech commented on #25
I created a page http://starcounter.io/guides/web/what-is-an-app/ . I think it can be closed now

[2015-08-24 12:53] #25 closed

[2015-08-27 09:24] warpech opened #29 "Embed Gitter chat"
It would be neat to embed our Gitter chat room (https://gitter.im/Starcounter/Starcounter/~embed) in the web page

[2015-08-27 10:47] warpech opened #30 "Mention antivirus problems in the installation instructions"
As initially suggested in https://github.com/Starcounter/Starcounter/issues/352#issuecomment-17991545, we should mention in the installation instructions that Starcounter can be a false positive in some antivirus software

Related: https://github.com/Starcounter/Starcounter/issues/1939

[2015-08-27 11:00] warpech opened #31 "Explain Starcounter Personal Server"
The discussion that I had on Gitter shows that the getting started guide should be improved:

the console output from your app is not visible in command prompt, but in the Administrator (as explained here: http://starcounter.io/tutorials/hello-world/)

[2015-08-27 11:01] warpech opened #32 "Explain getting the list of database tables"
The discussion that I had on Gitter shows that the getting started guide should be improved:

[2015-08-31 17:43] warpech opened #33 "Review and merge aliasing information"
Currently there is aliasing information on:
http://starcounter.io/guides/network/networkgateway/
http://starcounter.io/guides/network/aliases-and-redirects/

It needs to be aligned in a single place (preferably http://starcounter.io/guides/network/aliases-and-redirects/)

[2015-09-10 12:02] warpech commented on #14
Done by Sabrina

[2015-09-10 12:02] #14 closed

[2015-09-10 12:04] warpech opened #34 "Newsletter form in the footer needs streamlined design"
Current:
<img width="245" alt="screenshot 2015-09-10 13 59 23" src="https://cloud.githubusercontent.com/assets/566463/9787644/c21a01b0-57c4-11e5-827f-f034d216382d.png">

Desired similar to:
<img width="507" alt="screenshot 2015-09-10 13 59 56" src="https://cloud.githubusercontent.com/assets/566463/9787648/c4432138-57c4-11e5-9e07-b3315e48e219.png">

I have asked Sabrina about this.

[2015-09-11 11:21] warpech opened #35 "Explain commit hooks"

[2015-09-11 12:18] warpech opened #36 "Make use of deployment/HA answer provided by Dan"
In answer about HA topology by email, Dan responded:

Okay, I see :) Some answer is this:

* Most of customers today use either in-house installations or in-cloud in Amazon, Azure or dedicated servers at providers like GleSYS. We will use an example of Amazon.

* Windows VM with at least 2 cores is required to run Starcounter, and RAM enough to store your data (current largest customers don't exce

[2015-09-11 12:26] dan31 commented on #36
I'm writing a better version that addresses backup scheme through Shadow Copy.

[2015-09-13 15:48] warpech opened #37 "Link Polyjuice sample apps on website"

[2015-09-14 09:37] warpech opened #38 "Explain how to map to root URL"
Starting as a blog post.

Currently the information on pages:
http://starcounter.io/tutorials/1-introduction-to-part-1/1-5-render-json-in-html/
http://starcounter.io/tutorials/1-introduction-to-part-1/1-7-bind-data-to-the-view-model/

mentions `PolyjuiceNamespace.Polyjuice.Map("/invoicedemo", "/");`, which is not correct

[2015-09-15 22:02] dan31 commented on #36
Wrote an article: http://starcounter.io/guides/tools/run-starcounter-in-production/ .

[2015-09-16 10:18] warpech commented on #36
Great! I have added a blog post about it: http://starcounter.io/website-news/running-starcounter-in-production/

[2015-09-16 10:18] #36 closed

[2015-09-16 15:52] warpech opened #39 "Explain CalculatePatchAndPushOnWebSocket"
Explanation of Session method `CalculatePatchAndPushOnWebSocket` is missing from http://starcounter.io/guides/web/sessions/

Sample code is here: https://github.com/Polyjuice/Chatter/blob/master/ViewModels/ChatGroupPage.json.cs#L72

[2015-09-17 13:52] warpech opened #40 "Performance Benchmark"
Put a reference to the [Starcounter performance (starcounter.com)](http://starcounter.io/what-is-starcounter/2-database-at-the-core/) in [Database at the core (starcounter.io)](http://starcounter.io/what-is-starcounter/2-database-at-the-core/) page.

Also fix the problems that the performance peak numbers on both pages are different.

[2015-09-17 14:39] warpech opened #41 "Explain our approach to referential integrity"
Explain our approach to referential integrity / cascading deletes (OnDelete, etc). I assume this is a subject that can be covered on a single page. (Right?)

As @miyconst put it:

It is not covered in .io nor wiki at the moment, but there is some information in the issues:

- https://github.com/Starcounter/Starcounter/issues/983
- https://github.com/Starcounter/Starcounter/issues/1259
- https://gi

[2015-09-17 15:37] warpech opened #42 "Tutorial: explain better why invoice row is not displayed until bound to data"
As @bigwad pointed out in email (6.06.2015):

@miyconst made a fix, but still I think that the tutorial does not explain well why there is no invoice rows until you bind to data (although it is mentioned at the end of the [preceding step](http://starcounter.io/tutorials/1-introduction-to-part-1/1-4-create-the-view-model/))

[2015-09-17 15:44] warpech commented on #31
Also explain what does "Start the Starcounter server" mean on this page: http://starcounter.io/tutorials/invoicedemo-part-3/3-1-install-launcher-from-appstore/

[2015-09-17 17:18] warpech opened #43 "Improve feedback collection from starcounter.io"
As I learnt at Write The Docs conf, one of harder tasks in writing docs is getting feedback about it's quality.

I've noticed that Google has a feedback input at the bottom of every support page, for example https://support.google.com/chrome/answer/6261569?p=ib_download_blocked&hl=en&rd=1

<img width="844" alt="screenshot 2015-09-17 19 15 14" src="https://cloud.githubusercontent.com/assets/566463/

[2015-09-17 17:18] warpech commented on #43
Also an input field for additional text message would be welcome of course.

[2015-09-18 08:47] warpech opened #44 "Explain running a single job"
A developer asked in Swedish:

[2015-09-18 08:51] warpech opened #45 "Explain running background tasks"
A developer asked in Swedish:

[2015-09-18 08:52] warpech opened #46 "Explain integration testing"
A developer asked in Swedish:

[2015-09-18 08:53] warpech opened #47 "Explain planned support for other languages and platforms"
A developer asked in Swedish:

[2015-09-18 08:54] warpech commented on #47
Might be in FAQ

[2015-09-18 08:57] warpech opened #48 "Explain doing update/delete operations compared to traditional SQL"
A developer asked in Swedish:

[2015-09-21 09:26] warpech commented on #45
@chrhol says solution may be hidden in https://github.com/Starcounter/Starcounter/issues/2796

[2015-09-21 14:56] warpech opened #49 "Add shortlinks on Docs home"
There should be shortlinks to parts of Tutorial and Guides directly on http://starcounter.io/docs/

[2015-09-21 14:57] warpech opened #50 "Previous/Next button and page title should be implicit"
Currently Previous/Next button and page title are repeated on top of each page's MarkDown code. They should be implicit.

This will result in cleaner WordPress search result and easier page editing

[2015-09-21 15:11] warpech opened #51 "Explain unload/reload"
I am making an edit in http://starcounter.io/guides/database/ saying:

Technically this is not true, because such statement is allowed in `reload`. After `reload` is explained, fix the text on the above page to mention that.

[2015-09-21 16:26] warpech commented on #48
Done: http://starcounter.io/guides/database/data-manipulation/

[2015-09-21 16:26] #48 closed

[2015-09-21 16:27] warpech commented on #46
I will explain in few words tests that we have, which are using NodeJs + Mocha (example: https://github.com/Starcounter/InvoiceDemo/blob/master/src/InvoiceDemo1/test/test.js)

[2015-09-22 06:21] dan31 commented on #45
@chrhol will explain the correct pattern to use background tasks with Starcounter under the hood of http://starcounter.io/guides/transactions/. Today the other pattern is often used, resulting into having some objects never deleted. The correct pattern will be explained. @chrhol, can you address it this week? Probably https://github.com/Starcounter/Starcounter/issues/2796 needs to be taken into ac

[2015-09-22 06:32] dan31 opened #52 "Update pages to reflect changes in SQL apps isolation"
@alemoi's work on SQL query isolation and querying from administrator.

[2015-09-22 20:44] warpech commented on #52
And the mandatory blog post, which I heard is already waiting for publishing :)

[2015-09-22 23:50] alemoi commented on #52
Here is a private draft blog post that i just added: http://starcounter.io/nightly-changes/list-breaking-changes-starting-build-2-0-3500-3/

Not sure if you can see it though, maybe only Administrator and me.

[2015-09-23 06:55] miyconst commented on #52
:+1:

[2015-09-23 10:56] warpech commented on #38
Information on the above pages was corrected by me, but still there is no blog post announcing the change. There should always be a blog post explaining breaking changes.

[2015-09-23 10:57] warpech commented on #52
Great! I can see it when I'm logged in.

Could you edit it to say what was removed? I mean there is information that new flags were added, but not that `PolyjuiceFlag` was removed.

After code changes are published, please also update the Guide. So far I have found these occurences of `PolyjuiceNamespace` in the website:

- http://starcounter.io/tutorials/invoicedemo-part-3/3-5-add-launchpad-icon/

[2015-09-23 11:38] alemoi commented on #52
Good point! I added removed flags! And will update tutorials, once pushed.

[2015-09-23 11:49] alemoi commented on #38
Thank you for informing! Forgot about this but added a post for this. Now for all breaking changes will add a blog post.

[2015-09-23 11:55] warpech commented on #38
Thanks a lot!

[2015-09-24 19:34] jwillmer opened #53 "CompiledQuery"
In your InvoiceDemo in the database class there are many hard coded database querys in plain text.
For example:

    public decimal Total {
        get {
            return Db.SQL<decimal>("SELECT sum(r.Total) FROM InvoiceRow r WHERE r.Invoice=?", this).First;
        }
    }

I know you do this to recalculate the result every time the property is read but could it be possible to replace this code

[2015-09-24 22:08] alemoi commented on #52
Ok, since I pushed everything today, the blog post is visible now and here is the docs about SQL isolation that I wrote: http://starcounter.io/guides/sql/sql-isolation/

[2015-09-24 22:08] #52 closed

[2015-09-25 11:32] warpech opened #54 "Migrate page about the internal web server"
https://github.com/Starcounter/Starcounter/wiki/Using-the-internal-web-server

[2015-09-25 11:38] warpech commented on #53
We don't support Linq for reasons explained here: http://starcounter.io/guides/database/querying-using-sql/

But that page doesn't cover the case for precompiled Linq query. @k-rus can you help?

I will put a sidenote in the tutorial to mention that

[2015-09-25 12:41] warpech opened #55 "Show how to make checkboxes and radio buttons"

[2015-09-25 12:41] warpech commented on #55
I think this should work for radio buttons, but didn't check: `<input type=radio value="bar" onchange="this.templateInstance.model.Foo = this.value">`

[2015-09-25 12:42] warpech commented on #55
//sub @ripipip

[2015-09-25 13:09] warpech commented on #55
Andre is using:

[code]

[2015-09-25 16:16] jwillmer commented on #53
As I understood you don't support it because of performance reasons but I am talking about compiled queries. I don't think you have performance problems with them.

I also found a nice example on [how you can automate the precompile process of Linq queries](http://stackoverflow.com/questions/1223771/automatically-compile-linq-queries) without moving the queries into another file.

[2015-09-26 00:45] dan31 commented on #53
@jwillmer, thanks for your question! We review an option to support LINQ in future versions of Starcounter, in a form you describe or richer. From user's point of view, I'd say, the demand in plain SQL overweighted the demand in LINQ, and, coupling it with the above reasons, SQL was chosen as a primary option. Today demand in LINQ support grows. Static checking plus autocomplete is a strong argume

[2015-09-27 16:38] warpech opened #56 "Explain Transaction Rollback"

[2015-09-27 17:24] warpech opened #57 "Fix common naming typos"
After wiki migration is done:

json -> JSON
JSON by example -> exisits in different forms, settle on one
view model, viewmodel -> view-model
code behind, codebehind -> code-behind
typedjson, typed-json -> Typed JSON

[2015-09-27 17:33] warpech commented on #50
Done

[2015-09-27 17:33] #50 closed

[2015-09-28 10:16] warpech commented on #52
@alemoi the content on the page http://starcounter.io/guides/sql/sql-isolation/ is relevant to Starcounter 2.1+, right? If so, then I will update the page to mention that

[2015-09-28 10:21] miyconst opened #58 "Remove empty squares for Related blog posts"
Currently the **Related blog posts** section looks like this:

![image](https://cloud.githubusercontent.com/assets/6435556/10133125/4f846ce2-65db-11e5-9613-f5d7155392f4.png)

We should either add images to blog posts or remove the squares for the images from the section.

[2015-09-28 10:23] miyconst opened #59 "Add anchors to the H tags"
Some of our *how to/guide/wiki* pages are very long, and it would be good to be able to point to a certain section of a page, not just link entire page.

[2015-09-28 14:06] warpech opened #60 "Add Database code to Hello World"
Database classes should be part of our Hello World: http://starcounter.io/tutorials/hello-world/responding-to-a-request/

After done, uncomment fragment in page http://starcounter.io/guides/tools/administrator that says:

[2015-09-29 08:47] warpech opened #61 "Explain when data migration is needed"
From Jan's email:

[2015-09-30 10:56] k-rus commented on #53
Thank you for your question!
It is correct that we don't support LINQ for performance reason. When we did the investigation last time, we were not satisfied with performance of resolving LINQ statements into already compiled queries.

Thank you for the example. We, in Starcounter, are targeted native UX and thus cannot require developers to put any glue code over LINQ.

We are going to investigate

[2015-10-02 10:53] warpech opened #62 "Explain Administrator"
Subtask of https://github.com/Starcounter/starcounter.io/issues/9

Functionality of Administrator should be explained on page http://starcounter.io/guides/tools/administrator/

I've added stubs of content

[2015-10-02 11:15] warpech commented on #59
Added using [Anchor.js](http://bryanbraun.github.io/anchorjs/#examples)

See http://starcounter.io/guides/tools/administrator/ for example

[2015-10-02 11:22] miyconst commented on #59
It adds heading anchors after page loaded, that is why links like this: http://starcounter.io/guides/tools/administrator/#network does not automatically point to the needed section.

[2015-10-02 12:27] warpech commented on #59
For me it worked for some reason.

But now I added an explicit scrolling to the page.

[code]

Can you try again?

Still I think JS is the best option, because there is no nice WP plugin for that.

[2015-10-02 12:53] miyconst commented on #59
Did you clean the cache? It does not work for me, and there is an exception on console: `Uncaught TypeError: $ is not a function`.

[2015-10-02 13:05] warpech commented on #59
Oops... Thanks for noticing. Please try again

[2015-10-02 13:06] miyconst commented on #59
Now it works.

[2015-10-02 13:06] #59 closed

[2015-10-02 15:29] warpech opened #63 "Dead link on Querying using SQL"
Or rather a non-link:

http://starcounter.io/guides/database/querying-using-sql/

[2015-10-06 12:42] warpech opened #64 "Explain the purpose of IBound"
As @jakubklekota found out, it is never explained why some pages in the tutorial inherit from http://starcounter.io/?s=ibound

@chrhol could you add information about it to the [Typed JSON](http://starcounter.io/guides/json/) section? I will let you judge if it needs to be a separate page.

[2015-10-06 12:50] warpech commented on #62
@andwah added some information about starting and stopping of the apps. Good beginning :)

[2015-10-06 14:55] warpech opened #65 "Add version information"
On Guides and Tutorials pages, there should be information about which version of Starcounter does the information apply to. Multiple people asked about it already.

[2015-10-06 19:15] warpech commented on #37
Done: http://starcounter.io/sample-apps/

[2015-10-06 19:15] #37 closed

[2015-10-06 19:16] warpech commented on #26
I guess it is as good as it gets with WordPress. Please reopen if you have more ideas for improvements

[2015-10-06 19:16] #26 closed

[2015-10-07 09:17] warpech opened #66 "Document HandlerOptions"
Document `HandlerOptions` flags like `SkipHandlersPolicy`

[2015-10-07 09:48] warpech opened #67 "Clarify about People app in InvoiceDemo"
On the page http://starcounter.io/tutorials/invoicedemo-part-3/3-8-fill-data-with-people-app/
it is not clear why People app needs to be installed and why the class `Simplified.Ring1.Somebody` is used.

[2015-10-07 09:49] jakubklekota commented on #67
+1

[2015-10-07 11:40] alemoi commented on #66
Assigned myself!

[2015-10-07 13:11] warpech opened #68 "Explain AddResponseFilter"

[2015-10-08 07:20] chrhol opened #69 "Clicking search: keyboard focus"
When the search-icon is clicked the search area pops up but keyboard focus is not set to the search inputfield so you have to manually select the inputfield.

[2015-10-08 07:32] warpech commented on #69
I was waiting to see if anyone else than me is annoyed by this :)

[2015-10-08 08:38] warpech commented on #69
Fixed

[2015-10-08 08:38] #69 closed

[2015-10-08 08:48] chrhol commented on #69
Awesome :thumbsup:

[2015-10-08 10:24] alemoi commented on #68
Initial documentation added: http://starcounter.io/guides/network/middleware-filters/

[2015-10-08 10:24] alemoi commented on #66
Documentation added: http://starcounter.io/guides/network/handling-responses/#notable-handler-options

[2015-10-08 10:35] warpech commented on #66
Thanks! But why is it on [Creating HTTP responses](http://starcounter.io/guides/network/handling-responses/#notable-handler-options) page, not on [Handling HTTP requests](http://starcounter.io/guides/network/handling-requests/)?

Also: it is never how to provide `HandlerOptions` (as the last parameter to Handle.GET, Handle.POST, etc).

[2015-10-08 10:38] warpech commented on #68
Looking good!

--
Marcin Warpechowski
+48 603 607 801

On Thu, Oct 8, 2015 at 12:24 PM, Alexey <notifications@github.com> wrote:

[2015-10-08 11:05] alemoi commented on #66
Yeah, will move it. Had same question for myself :) And will write about passing as parameters to Handle and Self.

[2015-10-08 18:35] #68 closed

[2015-10-08 18:35] alemoi commented on #66
Moved and extended with example: http://starcounter.io/guides/network/handling-requests/

[2015-10-08 19:07] warpech commented on #66
Thanks! I have 2 more notes:

1. Can you remove the words "As you know" from the beginning of the paragraph. This is the only place where `HandlerOptions`, so the reader doesn't have any prior knowledge about it.
2. It says that `HandlerOptions` can be used when calling handlers (using `Self.` interface) but there is no explanation nor example of such use.

[2015-10-08 22:25] alemoi commented on #66
Totally legitimate comment! :) Will fix both!

[2015-10-09 09:20] warpech opened #70 "Explain why static files are placed in /sys/ folder"
Explain why static files are placed in /sys/ folder.

The reason, in short, is that HTML Imports need to use consistent URL paths (e.q. `/sys/polymer/polymer.html`) throught the merged apps code. Otherwise we will have multiple apps loading the same dependency multiple times, resulting in increased memory usage, namespace collision and other kinds of conflicts.

Related info:

- https://github.com

[2015-10-09 22:12] alemoi commented on #66
Should be fixed now. Also created a new page for describing database configuration options: http://starcounter.io/guides/database/database-configuration/

[2015-10-09 22:13] #66 closed

[2015-10-12 06:54] warpech commented on #66
Thanks! I moved http://starcounter.io/guides/database/database-configuration/ at the end of the Database category, because it is only targeted at advanced users.

[2015-10-16 09:00] k-rus opened #71 "The main movie at the top of the page"
I went to starcounter.io to learn about Starcounter and the first thing, which I see is the movie called "Building a 2 minute-app in Starcounter". I watched the movie and I don't see that an app is created. The movie shows how to create a database using code-first approach and populate with initial data. It also demonstrates how to see data in the database using Administrator tool. It is nice, but

[2015-10-16 12:09] warpech opened #72 "Simplify syntax for primitive Json in docs"
@jakubklekota discovered that the example on page http://starcounter.io/guides/json/primitive-arrays-and-single-value-types/

[code]

Also works in a simpler way:

[code]

//actually Jakub's example used string, but I believe it doesn't matter

@chrhol could you verify if this is officially supported and update the page if so?

[2015-10-16 12:10] warpech commented on #72
This is almost as good as https://github.com/Starcounter/Starcounter/issues/237#issuecomment-117844981

[2015-10-16 12:22] k-rus opened #73 "Tutorial's source code does not fit visible area"
For example, reading `InvoicePage.html` in Step 4 of App1 requires horizontal scrolling, which requires vertical scrolling to reach the horizontal scroller. So it is not really possible to read the source code.
Here is a screen shot:
![examplehtmlnotfittutorialpage](https://cloud.githubusercontent.com/assets/1726044/10541424/460fe346-7411-11e5-9cba-d843c08fdb59.png)

[2015-10-16 12:22] chrhol commented on #72
I have not thought of using it in this way. Nice! This will work for untyped arrays (i.e. when you just specify an empty array in Json-by-example, `[ ]`) and with fewer lines of code.

It does matter, there is only a constructor that takes a string as parameter and it actually parses the inputstring as json and create a template for it (https://github.com/Starcounter/Starcounter/issues/2571)

[2015-10-16 12:39] k-rus commented on #73
So it would be nice to split long lines into several in actual source code and copy here.
Another question: why is it so much white spaces between lines?

[2015-10-19 22:05] warpech opened #74 "Migrate staradmin page"
From here: https://github.com/Starcounter/Starcounter/wiki/staradmin

Include information from here: https://github.com/Starcounter/Starcounter/issues/2942#issuecomment-149321111

[2015-10-20 15:47] warpech commented on #74
Page migrated. I added description of commands: console, delete, help, kill, reload, unload based on the output of `staradmin help <command>`

@per-samuelsson, could please review and add the information log levels that you described here:  https://github.com/Starcounter/Starcounter/issues/2942#issuecomment-149321111. I couldn't find any info about this.

Some commands explained in `staradmin help

[2015-10-20 18:57] per-samuelsson commented on #74
Awesome.

Yeah, a few have been prepared for, but not implemented. Sorry.

There was some in a referenced page about the server log if I remember correctly. I think I wrote some details there. But sure, I can review it and see if I can add anything.

[2015-10-20 18:59] per-samuelsson commented on #74
https://github.com/Starcounter/Starcounter/wiki/Error-log#using-command-line-tools

[2015-10-21 12:13] warpech commented on #15
Fixed by putting newsletter signup form behind CloudFlare

[2015-10-21 12:13] #15 closed

[2015-10-21 17:11] warpech commented on #74
Thanks! I will move that one as well.

On a side note, which shorthand for `--database` do you recommend: `--d` or `-d`? Both are used in wiki and both work, but we should use only one to be consistent.

[2015-10-21 17:28] per-samuelsson commented on #74
Hmm. What about if we stick to recommended practice of our upcoming `DNX` stack, and the tooling there? Simply b/c its the one I know. They might have a different standard on other stacks/platform.

In `dnx` tooling, they use double hyphens for long versions, single for short.

[code]

[2015-10-21 17:44] warpech commented on #74
Perfect! That's common on UNIX, too. I'll adjust the docs

[2015-10-23 13:10] warpech commented on #74
Done! Now `-d` is used everywhere except http://starcounter.io/guides/tools/staradmin/#basic-usage

[2015-10-23 13:10] #74 closed

[2015-10-23 20:14] per-samuelsson commented on #74
Super! I'll review the page as I promised, either this weekend, or sometime next week.

[2015-10-29 13:12] warpech commented on #46
Related: https://github.com/Starcounter/Starcounter/issues/1297

[2015-10-30 16:19] warpech opened #75 "What is an app?"
Write some mindsetting material about what should be the scope of a single app and how do plan architecture of a system that consists of multiple apps.

[2015-10-30 17:35] warpech opened #76 ""Register" button does not redirect in Firefox"
<img width="1552" alt="screenshot 2015-10-30 18 33 24" src="https://cloud.githubusercontent.com/assets/566463/10853123/c8164fdc-7f34-11e5-83cd-78f0d58592e3.png">

Clicking the "Register" button in Firefox creates the user, but does not redirect to logged in page.

Clicking "Sign in" works as expected.

[2015-10-31 04:56] Nomans commented on #75
An app is a program that can run on its own, without any other apps running. Most apps have an user interface. All apps are represented by an icon and a title and can be installed and deinstalled. The smallest apps, sometimes referred to as micro-apps, might not be that usefull running on their own, but they still can.

Sent from my iPhone

[2015-11-02 08:36] dan31 commented on #75
Addition. App is an application small enough yet functional enough to deliver its function, standalone or in interplay with other apps. Apps don't know of each other and interoperate out of the box to create new solutions.
In math, there is a notion of basis. Basis of any particular type of things which can commutate to create new things of the same type is a __minimal and complete set__. By compl

[2015-11-02 08:43] dan31 commented on #75
E.g., one might build 10 apps to cover some accounting and warehousing, but those won't include CRM, so such set of apps doesn't cover ERP systems. On the other hand, one might build 365 000 apps which will cover 95% of ERP systems' functions, and appealing to practicality and Occam's razor one would like to minimise a number of apps to still cover exact the same (or slightly lesser) percentage of

[2015-11-02 08:46] dan31 commented on #75
So there should be a Polyjuice number, which is a quantity of the apps basis for a given coverage. E.g., for Retail we've been thinking of circa 60 apps to be covered. One might come up with less number, however this lesser number will not give good combining with other domains such as healthcare. So, covering a single domain, one should think of interplay with many other domains.

[2015-11-02 14:19] dan31 opened #77 "A link to "Ask a question"/"Report an issue" should be more obvious"
If you are on https://starcounter.io, you can't easy find how to contact to developers regarding reporting an issue and asking a question. I've changed that page https://github.com/Starcounter/Starcounter appropriately, we need the same for https://starcounter.io.

[2015-11-02 14:20] dan31 opened #78 "Make starcounter.io HTTPS by default"
Today it is http if you enter starcounter.io. This affects ranking of search engines. However, https://starcounter.io is available as well.

[2015-11-02 14:21] dan31 commented on #78
The same should be fixed to starcounter.com.

[2015-11-04 12:44] warpech opened #79 ""Sign in" button does not work in Safari"
In the App Hub, the "Sign in" button does not work in Safari.

Tested yesterday on Kristoffer's Mac

[2015-11-04 12:46] warpech opened #80 "Adjust the design of the App Hub"
The gray bars in the App Hub should take the whole width of the screen and use the same styles as the grey bars on the home page.

Compare home page:

![screenshot 2015-11-03 17 42 49](https://cloud.githubusercontent.com/assets/566463/10938419/613c35c8-82fa-11e5-8475-d2131f3af922.png)

With the App Hub:

![screenshot 2015-11-03 17 42 34](https://cloud.githubusercontent.com/assets/566463/10938425/6

[2015-11-04 13:54] warpech opened #81 "Fix dead links"
Screaming Frog SEO Spider turned out to be a great program to find broken links in the .com website.

Run it for the .io website to identify broken links.

[2015-11-04 14:46] warpech commented on #81
Done

[2015-11-04 14:46] #81 closed

[2015-11-04 15:00] warpech commented on #77
There is a link called "Report a bug on GitHub" on http://starcounter.io/community/

I added an additional "Report a bug" link in the footer

Some questions:

1. Don't you think that the links in README.md shoud go to the list of issues, not to a new issue?
2. Don't you think that the "Ask a question" link should go to Stack Overflow (as it does on http://starcounter.io/community/)

[2015-11-04 16:41] warpech opened #82 "Rewrite Hello World"
Hello World should be rewritten to show all of the features explained on the home page http://starcounter.io/

Related: https://github.com/Starcounter/starcounter.io/issues/63, https://github.com/Starcounter/starcounter.io/issues/60

[2015-11-05 11:33] miyconst commented on #79
The issue was between `Object.observe` shim and `json-patch` fighting each other because of "specific" understanding of `"use strict"` by Safari.

[2015-11-05 11:34] miyconst commented on #79
The issue is solved by removing `Object.observe` usage from `json-patch`. I will update `starcounter.io` with the latest Starcounter tomorrow and close this issue.

[2015-11-05 12:12] miyconst commented on #80
Done.

[2015-11-05 12:12] #80 closed

[2015-11-05 14:53] miyconst commented on #76
The issue once again was with IE & FF not executing scripts from imported templates. Fixed now. Will deploy tomorrow with the newest version of Starcounter.

[2015-11-06 14:54] #79 closed

[2015-11-06 14:54] #76 closed

[2015-11-09 14:32] miyconst opened #83 "I can sign up to get news without email address"
The sign up to get news form passes through without email:

![image](https://cloud.githubusercontent.com/assets/6435556/11036147/018de8b4-86f7-11e5-8157-00058bf6d71f.png)

![image](https://cloud.githubusercontent.com/assets/6435556/11036152/081c8b22-86f7-11e5-91ca-0f5324b34008.png)

[2015-11-10 19:14] warpech opened #84 "Explain that first segment of the URL needs to be the app name"

[2015-11-10 19:19] warpech opened #85 "Explain that files in wwwroot need to be put in a subfolder"
Currently it is never explained that static files in wwwroot need to be sandboxed using the app name as the subfolder (e.g. wwwroot/invoicedemo).

[2015-11-12 12:59] warpech opened #86 "Migrate page about weaver"
https://github.com/Starcounter/Starcounter/wiki/Weaver

[2015-11-13 07:57] warpech commented on #82
<img width="599" alt="screenshot 2015-11-13 08 56 55" src="https://cloud.githubusercontent.com/assets/566463/11141339/8e2b7198-89e4-11e5-943b-6cd15b1f62f0.png">

[2015-11-16 21:35] warpech commented on #16
This is now covered on:

http://starcounter.io/guides/tools/starting-and-stopping-apps/
http://starcounter.io/guides/tools/staradmin/

[2015-11-16 21:35] #16 closed

[2015-11-18 11:38] k-rus opened #87 "Description of sample tutorial is difficult to understand"
(I don't know if it is appropriate place for my report)

[The tutorials web page](http://starcounter.io/tutorials/) has following description:

It is really hard to understand. Especially, the combination `displaying show`.

[2015-11-18 16:29] warpech opened #88 "Explain $: {Reuse: ...}"
As used here: https://github.com/Starcounter/Starcounter/blob/961fc6935381ddcc7f74018f121980e9e483c6b7/src/Starcounter.Administrator/Server/Model/AppStoreStoresJson.json

[2015-11-18 18:09] warpech commented on #87
This is the most appropriate place!

Thanks! I Rewrote the descriptions. Does it look better now?

[2015-11-19 09:17] k-rus commented on #87
It is better now, but it should be improved to align with other tutorial description. What's about:

I removed colons, since two levels of colons is not good and to align with Part 2 description.

[2015-11-19 09:17] k-rus commented on #87
Sorry that I haven't updated the text directly, since I don't remember how to do it and how to find instructions.

[2015-11-19 09:26] k-rus opened #89 "Page authors on the web site are not content authors"
Each page on starcounter.io has public information about the author. However, as I can see there are many cases when the authors are not actual authors of the page content. It would be nice to fix either by hiding authoring clause from public or fixing actual content author. The second option requires manual fix and difficult to maintain.

[2015-11-23 09:26] k-rus opened #90 "Remove or update Guide disclaimer"
[The guide web page](http://starcounter.io/guides/) contains the following disclaimer:

I am not sure if it is still valid. The most of the content is already moved into starcounter.io and, furthermore, the github wiki contains mainly stubs. I suggest to remove the disclaimer, since finding useful information on github wiki is really difficult now due to the empty stubs.

[2015-11-23 21:32] warpech commented on #90
Good point! I will do it

[2015-11-25 14:31] warpech commented on #35
Example of using commit hooks: https://github.com/StarcounterSamples/UserAdmin/blob/master/src/UserAdmin/Api/CommitHooks.cs
 (lines 10-20)

[2015-11-25 15:48] warpech opened #91 "Explain OnData and HasChanged"

[2015-11-25 15:49] jakubklekota commented on #91
:+1:

[2015-11-26 10:41] warpech opened #92 "Explain layouts REST API"
https://github.com/Starcounter/Starcounter/blob/961fc6935381ddcc7f74018f121980e9e483c6b7/src/Starcounter.Extensions/Layouts.cs

[2015-11-26 14:18] warpech opened #93 "Explain static file server"

[2015-11-26 14:40] warpech commented on #93
Done: http://starcounter.io/guides/network/static-file-server/

Does not explain how the `wwwroot` directory is discovered.

[2015-11-26 14:40] warpech opened #94 "Explain how the wwwroot directory is discovered"
On the page http://starcounter.io/guides/network/static-file-server/

[2015-11-26 14:40] #93 closed

[2015-11-29 09:34] warpech opened #95 "Explain session.StartUsing()"
Explain `session.StartUsing()` and `session.StopUsing()`.

Needed for asynchronous code (can be seen in AppStoreClient changes now being made by @andwah's)

[2015-11-29 16:38] chrhol commented on #95
We really need to change this pattern before we explain how it's used. It's quite important to always call `session.StopUsing()` after a call to `session.StartUsing()` since only one thread at a time can access a Session. Having `StartUsing()` and `StopUsing` public was a quick workaround.

We should hide these calls from the end user and have a method taking a delegate instead. I will create an i

[2015-11-29 16:57] chrhol commented on #95
https://github.com/Starcounter/Starcounter/issues/3117

[2015-12-01 17:13] dan31 opened #96 "No markdown for old blogposts on .com website"
Some old articles like this http://starcounter.com/the-hype-cycle/ are meant to render in markdown, but they aren't rendered now.

[2015-12-03 17:01] warpech commented on #78
I tried and I failed...

For some reason WordPress at starcounter.io falls into an infinite request loop when trying to switch to use HTTPS. It would be good to get some WordPress consultant for that.

As a huge bonus, we will get HTTP/2 for free from CloudFlare when we switch to HTTPS.

[2015-12-05 19:10] warpech commented on #96
Installed Jetpack Markdown plugin and republish the affected blog posts.

[2015-12-05 19:10] #96 closed

[2015-12-05 19:16] warpech commented on #89
The purpose is to give credit and motivation to the original author of the blog posts. I will try to do my best to fix this, cause I still have links to the original page authors of the wiki pages. It is not very hard to maintain, just hard to apply for migrated pages.

[2015-12-05 19:26] warpech opened #97 "Next button on Downloads page goes to App Hub"
http://starcounter.io/download/

Should go to Docs

[2015-12-05 19:29] warpech commented on #97
Fixed

[2015-12-05 19:29] #97 closed

[2015-12-06 13:30] warpech commented on #89
I did it the changes based at the original page author or prevalent author, if there was a person who rewrote most of the page.

Of course it still could be improved, for example some pages have multiple authors and all should be listed.

The reason why this information is displayed is to give credit and motivation to page authors. Of course, this is the team's decision to keep it or not, but I wi

[2015-12-06 13:30] #89 closed

[2015-12-06 13:36] warpech commented on #90
Fixed on the page http://starcounter.io/guides/

[2015-12-06 13:36] #90 closed

[2015-12-06 13:40] warpech commented on #87
I agree, thanks! I have applied the proposed change.

WordPress instructions are here: https://github.com/Starcounter/CompanyTrack/issues/110#issuecomment-151748540

Your access credentials can be obtained by clicking on "Lost password" here: http://starcounter.io/wp-admin/ (username the same as on GitHub).

[2015-12-06 13:40] #87 closed

[2015-12-06 16:40] warpech opened #98 "Using Http and Node"
[Creating HTTP responses](http://starcounter.io/guides/network/handling-responses/) contains a phrase:

@alemoi, do you know what article is meant here?

[2015-12-06 16:44] warpech commented on #98
This page, I guess? http://starcounter.io/guides/network/external-http-calls-and-node-usage/

[2015-12-06 16:51] warpech commented on #98
After reading - yeah, that must be the article. Sorry for bothering :)

[2015-12-06 16:51] #98 closed

[2015-12-06 17:01] warpech commented on #73
Shrinked the font size to 14px and the line height to 22px. The line height is now the same as in Atom editor for the similar text size.

Added some line breaks in all the docs pages to remove horizontal scrollbars everywhere. If anyone sees this in future, please fix in place. Thanks!

[2015-12-06 22:59] alemoi commented on #98
Thanks for fixing :)

[2015-12-07 11:23] k-rus commented on #73
IMHO, we need to fix that the original code is within certain limit, especially if the code goes to our web site. Editing pasted text might introduce errors and thus copy-and-paste directly from the web page will not work. Of course, we recommend reader to download the solution from the repository. But at least it will not look differently between the web site and the repo.

[2015-12-07 11:54] warpech commented on #73
Made further changes:

- resized page width from 1000 to 1170 px. Article width increased significantly, but in future I want to add a right sidebar for article Table of Contents so it will shrink again.
- reduced font size further down to 13px
- reduced line height further down to 19px

I agree it is the best to keep unmodified original code wherever possible, otherwise it becomes unmaintainable.

[2015-12-07 14:36] miyconst commented on #83
This was also reported by TargetEveryOne guys.

Should really be fixed.

cc @warpech

[2015-12-07 16:27] warpech commented on #83
@sabrinareflex can we add some validation to the form?

[2015-12-08 12:03] warpech commented on #63
Fixed

[2015-12-08 12:03] #63 closed

[2015-12-08 12:29] per-samuelsson opened #99 "Possible to improve on partials documentation?"
Today, I had to try to understand partials when helping a customer. I used several resources, two of them being http://starcounter.io/guides/web/partials/ and http://starcounter.io/guides/web/more-on-partials/.

In the former, [this section](http://starcounter.io/guides/web/partials/#partial-usage) confused me. More specifically this:

[code]

got me trying finding a predefined `SubPage` property

[2015-12-08 12:31] per-samuelsson commented on #94
This one's done right @warpech?

[2015-12-08 12:31] #94 closed

[2015-12-08 12:56] warpech commented on #94
Looking very good, thanks!

For people who read fast, could this initial paragraph:

Be changed to say what is the convention? Below follows an example but it is not clear that the convention is to call the folder **wwwroot** (maybe the convention is that it just needs to be the last folder in directory?).

Did you mean implicitly?

[2015-12-08 14:26] warpech commented on #99
Very good comment! I will try to come up with something. I would like to move the current text to "More on partials" and then write the "Partials" page again from scratch.

Related: https://github.com/Starcounter/starcounter.io/issues/28

[2015-12-08 14:53] per-samuelsson commented on #88
@warpech

WDYT if we simply add a reference kind of page, describing what is there now, in terms of Typed JSON "confusers"? I was thinking it could be added to [this hive](http://starcounter.io/guides/json/) as an additional page at the bottom of it, like "JSON Reference".

In there, we provide the exotics. Not like we want them in the perfect world (because reviewing doesn't seem to happen), but

[2015-12-09 10:07] warpech opened #100 "Put the KitchenSink on the .io website"
Currently KitchenSink is the best source of information about how to create UI with JSON and Polymer's dom-bind. It should be linked as a reference on the .io site

[2015-12-09 10:08] warpech opened #101 "Explain release channels on .io"
- What do we mean by a stable release?
- How often can you expect a release?
- How to use nightly releases?

[2015-12-09 10:09] warpech opened #102 "Blog post about recent migrations from wiki"
Last blog post about new content was on Oct 23: http://starcounter.io/updated-guides-staradmin-cli-the-error-log-and-the-database-config/

[2015-12-09 10:10] warpech opened #103 "Cleanup the wiki home page"
Currently most of the links at https://github.com/Starcounter/Starcounter/wiki are dead. They should be removed.

[2015-12-09 10:12] warpech opened #104 "Explain anatomy of a Starcoutner app"
Similar to https://angularjs.org/, there should be a simple explanation about what files do you need in your project and what is their purpose.

[2015-12-09 11:33] warpech opened #105 "Screen sharing image should be changed into an animation"
On [Sharing screen](http://starcounter.io/guides/web/sharing-screen/) page it is not clear how to read the image and what do the arrows represent.

It should be changed into an animation (I already have an SVG) with color coding that should be explained below.

This is based on feedback I got from @jakubklekota on Nov 20th.

[2015-12-09 12:20] warpech opened #106 "Explain how to use jQuery"
@jwillmer had some problems to use jQuery.

One of the important points:

When using jQuery, ,ake sure to check if it is not already loaded. Otherwise you reset previously installed plugins.

@miyconst might have some input too, as he developed [app-store-client-carousel.html](https://github.com/StarcounterSamples/AppStoreClient/blob/4d2b6763f641077fd9f71533ce8dbf648f5a2890/src/AppStoreClient/wwwr

[2015-12-09 12:31] miyconst commented on #106
Here are nice answers of how to

- Check if jQuery is loaded and load if no.
- Use two different jQuery versions on same page.

http://stackoverflow.com/questions/5257923/how-to-load-local-script-files-as-fallback-in-cases-where-cdn-are-blocked-unavai
http://stackoverflow.com/questions/1566595/can-i-use-multiple-versions-of-jquery-on-the-same-page

[2015-12-09 12:34] sabrinareflex commented on #83
The .io form used to be required so I don’t know why it changed but it’s now fixed!

[2015-12-10 10:13] warpech commented on #83
Works good now, thanks!

[2015-12-10 10:13] #83 closed

[2015-12-10 12:25] k-rus opened #107 "Explain combining long running and short living transactions"
Long running transactions, defined with `Db.Scop`, are normally used in application code, since they allow to communicate with client. Since the transactions are long running, they have low level of isolation (read-committed). To allow consistent changes to the database shot living snapshot-isolated transactions, defined with `Db.Transact`, must be used. It is necessary to explain and show example

[2015-12-11 15:52] warpech opened #108 "Rename shared data to mapping, shared screen to blending"
In the apparatus video, we refer to shared data as `mapping` and to shared screen as `blending`. The vocabulary in the docs should be changed accordingly.

[2015-12-14 15:15] warpech opened #109 "Implement sidenotes"
Needed for https://github.com/Starcounter/InvoiceDemo/issues/46 and more

[2015-12-14 15:22] warpech opened #110 "Create a style guide page"
To make the life of the content authors on Starcounter.io easier, create a sample page that shows how to create:

- text
- headings
- lists
- code snippets with filenames
- sidenotes
- table of contents
- quotations
- callouts ("Try Now!", etc)

[2015-12-17 03:56] dan31 opened #111 "Improve an explanation for TCP socket"
In here: http://starcounter.io/guides/network/tcp-sockets/, for the customer it wasn't obvious what exactly to do when received a call in a handler. Is it just a typical scenario is to maintain some dictionary of ```tcpSocket```s inside a handler (either a DB-class based, or ```ConcurrentDictionary``` of a kind) and use it to retrieve the corresponding job state. The question comes with an idea to

[2015-12-17 03:59] dan31 opened #112 "Create a page for "Transferring files" in a "Network" group and give an example"
JS on the sender and C#-SC on the receiver is owned by @andwah. I'm not publishing the code here directly, since @andwah considered it not good yet to show out. @andwah, maybe it is good enough to put as a page-example? If so, please do it (with low prio so far) with a short explanation on slicing the file. @alemoi, maybe a good explanation for those who don't know why we actually have to slice th

[2015-12-17 08:52] k-rus opened #113 "Explain how snapshot isolated transaction works"
I haven't found detailed explanation of how snapshot isolated transaction works in Starcounter. This is important for our advanced users to understand to use it correctly. Misunderstanding leads to different issues as in Starcounter/Starcounter#3192.

[2015-12-17 10:18] alemoi commented on #111
I will add some more examples. Thank you.

[2015-12-17 13:05] pluppplupp opened #114 "SQL with GetType() fails"
http://starcounter.io/guides/database/inheritance/

Documentation says:
![2015-12-17_14-01-03](https://cloud.githubusercontent.com/assets/1765023/11870290/acf31552-a4c6-11e5-9890-d59d91445aac.png)

So I created:
[code]
and created 2 instances:
[code]
but I cannot execute the query with ```GetType() == typeof(Customer)```

![2015-12-17_13-47-18](https://cloud.githubusercontent.com/assets/1765023/11

[2015-12-17 13:13] pluppplupp opened #115 "iNdentifiers"
http://starcounter.io/guides/sql/indentifiers/

Identifiers == Indentifiers?

[2015-12-17 14:10] k-rus commented on #114
Thank you reporting this.
I don't know when this syntax was supported, but the error tells me that it is not supported for already long time.
I guess we should remove it from the documentation (@warpech can you do it?) and then investigate if there is a way to have this functionality with the current implementation.

[2015-12-17 14:41] pluppplupp opened #116 "Documentations says Person but example says App1Class. App2Class"
http://starcounter.io/guides/sql/sql-isolation/

![2015-12-17_15-39-20](https://cloud.githubusercontent.com/assets/1765023/11872230/8810f908-a4d4-11e5-94b3-2a6d58ccc296.png)

[2015-12-17 15:31] miyconst commented on #114
It looks like this is a really outdated guide, as I never heard about such syntax.\

Here is the new syntax:

[code]

[2015-12-17 22:16] dan31 commented on #114
Looks to be an old nomad example here. @per-samuelsson, I can't recall @per-samuelsson, did we decide to skip documenting the ```IS``` logic for such things, maybe it's the time to reveal it, especially since @miyconst already have it done.

[2015-12-17 23:30] warpech commented on #73
Reopening again, because I have a better idea:

Change the word wrapping so that there will be never a horizontal scrollbar. This is how PHP docs do it:

<img width="253" alt="screen shot 2015-12-18 at 00 28 56" src="https://cloud.githubusercontent.com/assets/566463/11885055/721a7b5c-a51e-11e5-9aad-7e93475c2aaa.png">

I like it because it is readable on small screens (smartphone), half-screen wind

[2015-12-21 13:45] dan31 commented on #75
I had an impression this page has existed and I read it, but now I got to http://starcounter.io/guides/web/what-is-an-app/ and the page seems missing.

[2015-12-24 15:21] warpech opened #117 "Some code samples use wrong escape code for ""
For example here http://starcounter.io/guides/sql/indexes/:

[code]

Should be:

[code]

[2016-01-11 15:06] k-rus commented on #117
There were some problems with using `@` for SQL strings. I cannot find the issue and don't remember how it was resolved. Anyone remember?

[2016-01-11 15:34] k-rus commented on #117
@warpech Can you confirm that this code works? If so, then the old issue with `@` was resolved.

[2016-01-12 15:04] miyconst commented on #58
The section was removed completely, closing the issue.

[2016-01-12 15:04] #58 closed

[2016-01-18 08:43] warpech opened #118 "Write a page about what is the expected Starcounter performance and why"
A dedicated page is needed for the following tile on the home page:

![image](https://cloud.githubusercontent.com/assets/566463/12386721/d73c5f48-bdc7-11e5-8983-ef1c4fb5efc4.png)

Right now the link goes to [What is Starcounter](http://starcounter.io/what-is-starcounter/)

[2016-01-18 15:31] warpech commented on #117
@k-rus You are right. A newline character works in a `SELECT` statement, but it does not work in a `CREATE INDEX` statement, providing the below exception:

[code]

Should I write an Starcounter issue for that?

[2016-01-18 15:32] warpech commented on #117
Possibly related to: https://github.com/Starcounter/Starcounter/issues/3034

[2016-01-18 15:44] warpech commented on #115
Fixed, thanks for reporting!

[2016-01-18 15:44] #115 closed

[2016-01-18 15:46] warpech commented on #116
@alemoi, since this is your page, can you update it? We should always illustrate using real-life names, such as `Person` over artificial, such as `App1Class`.

[2016-01-18 16:25] k-rus commented on #117
I think so too. I mentioned INSERT INTO there.

[2016-01-18 18:40] alemoi commented on #116
Ohh yes. Thank you for finding this.

[2016-01-18 18:48] #116 closed

[2016-01-19 13:31] warpech opened #119 "Put author's photos on blog posts and articles"
As @per-samuelsson wrote in https://github.com/Starcounter/Starcounter/issues/2858:

This is a nice idea but not the top priority

[2016-01-19 13:32] warpech commented on #119
@dan31 proposed:

[2016-01-19 15:49] warpech commented on #108
Actually, we refer to:

- Data mapping and URI mapping as `mapping`
- Layout rearrangement as `blending`

Agreed with @Starcounter-Jack that this can be introduced in our communication (docs, etc) right away

[2016-01-21 10:58] MLidstrom opened #120 "Issues on the page for sample app part 1.3"
http://starcounter.io/tutorials/1-introduction-to-part-1/1-3-create-request-handlers-for-the-home-page/

…running at sthe same… > …running at the same…

Othwerise… > Otherwise…

The links ”Responding to a request” and ”Using the internal web server” on the bottom of the page need to be updated.

[2016-01-21 13:34] MLidstrom opened #121 "Left menu pushed below the content."
When making the web page narrower the left most menu is pushed below the content. Maybe fixed with min-width in the fusion-row css class.

[2016-01-21 15:11] miyconst commented on #121
Could you provide a screenshot?

[2016-01-21 15:21] MLidstrom commented on #121
This is after making the page narrower.

![4](https://cloud.githubusercontent.com/assets/538395/12484475/c466c292-c05a-11e5-93e0-7e3cdfb37e59.png)

[2016-01-22 11:52] per-samuelsson opened #122 "Adapt Request and Reponse filters page to the result of new middleware redesign"
The work issue is here: https://github.com/Starcounter/Starcounter/issues/3251. Come up with a new, general documentation, based on the outcome of that, and replace http://starcounter.io/guides/network/request-response-filters/ with it.

Include a general description of how middleware is approached, how it relates to previous API and how we plan for DNX (hinting on the conversion path).

Also clos

[2016-01-22 13:14] MLidstrom opened #123 "Issues on the page for sample app part 1.2"
http://starcounter.io/tutorials/1-introduction-to-part-1/1-2-create-the-project/

The link (Creating a Hello World application) on the bottom of the page should be http://starcounter.io/tutorials/hello-world/

[2016-01-22 13:21] MLidstrom opened #124 "Issues on the page for sample app part 1.4"
http://starcounter.io/tutorials/1-introduction-to-part-1/1-4-create-the-view-model/

The user has to stop the debugger prior to ”In the Solution Explorer, right click on the project name and choose Add → New Item…”

”Let’s edit the file InvoicePage.json. The wireframe can be represented as the below tree:”
should be
”Let’s edit the file InvoicePage.json. Change the wireframe to look like this:”

T

[2016-01-22 13:23] MLidstrom opened #125 "Issues on the page for sample app part 1.5"
http://starcounter.io/tutorials/1-introduction-to-part-1/1-5-render-json-in-html/

Db.Scope appears without any description or explanation in the handler code in the chapter named ”Displaying JSON in HTML”.

'"Cancel$": 0' needs to be added to the JSON structure at the bottom of the page.

[2016-01-22 13:25] MLidstrom opened #126 "Issues on the page for sample app part 1.7"
http://starcounter.io/tutorials/1-introduction-to-part-1/1-7-bind-data-to-the-view-model/

"For beginning, let’s assume..."
should be
"To begin with, let’s assume..."

The link (Long-running transactions) on the bottom of the page should be http://starcounter.io/guides/transactions/long-running-transactions/

[2016-01-22 14:20] warpech opened #127 "Code style link should be moved from FAQ to sample apps"
The code style link should be moved from FAQ: http://starcounter.io/faq/

To README.md of all the sample apps

[2016-01-22 14:21] warpech commented on #127
For the beginning, I have removed the link from FAQ.

[2016-01-22 14:22] warpech commented on #126
Good catch thanks! I have fixed both problems, as well as found similar links to old wiki pages and replaced them with current links

[2016-01-22 14:22] #126 closed

[2016-01-22 14:23] warpech commented on #123
Fixed, thanks!

[2016-01-22 14:23] #123 closed

[2016-01-22 14:24] warpech commented on #120
All fixed, thanks!

[2016-01-22 14:24] #120 closed

[2016-01-22 14:25] warpech commented on #101
Related: https://github.com/Starcounter/Starcounter/issues/3290

[2016-01-22 15:15] warpech opened #128 "Top menu pushed below logo"
The top menu is pushed below the logo when the screen width > 800 and < 1050 px.

This is a bug in the WordPress theme. Can be fixed by upgrading the theme to version 3.8.8+

<img width="1126" alt="screen shot 2016-01-22 at 16 13 35" src="https://cloud.githubusercontent.com/assets/566463/12514363/538a4700-c123-11e5-86e6-5064d63cb536.png">

[2016-01-22 15:15] warpech commented on #121
Fixed. There is a similar problem with the top menu, but that one requires updating the theme: https://github.com/Starcounter/starcounter.io/issues/128

[2016-01-22 15:15] #121 closed

[2016-01-22 15:27] warpech commented on #86
Done. Moved to http://starcounter.io/guides/tools/weaver/

cc @per-samuelsson

[2016-01-22 15:27] #86 closed

[2016-01-26 16:58] warpech opened #129 "Draw a diagram of client-side components"
@MLidstrom asked me to draw a diagram of client-side components used in Puppet web apps. The initial draft is presented below. Any comments before I put it on .io?

Source SVG is in my Exchange folder

![client-side components](https://cloud.githubusercontent.com/assets/566463/12587872/6143b74c-c456-11e5-9b1b-bc7d6ee55444.png)

[2016-01-27 06:29] k-rus commented on #129
Thank you for creating the diagram! It is really interesting to see, since I don't know what you are doing there.

[2016-01-27 06:45] per-samuelsson commented on #129
What a superb request. I didn't even know I wanted this, but now that @warpech provided it, I understand I really did. :smile:

Just great. You go, dude. (Maybe just write a really long explanation what "Puppet" means? :wink: All other names come with a meaning, making them somewhat intuitive as they relate to what they do).

[2016-01-27 07:53] miyconst commented on #129
Good job @warpech!

I think this diagrams should also be added to the Starcounter GitBook.

Actually you can attach svg to here same way as png.

[2016-01-27 13:27] warpech commented on #129
But I cannot drag and drop it to a GH issue like a png :(

[2016-01-27 13:53] MLidstrom commented on #129
Looks great!

[2016-01-27 15:30] MLidstrom opened #130 "Sidebar missing"
Sidebar is missing on the page http://starcounter.io/guides/transactions/commit-hooks/

[2016-01-27 15:40] miyconst commented on #130
cc @sabrinareflex

[2016-01-27 17:30] dan31 commented on #35
Wrote an article regarding commit hooks:
http://starcounter.io/guides/transactions/commit-hooks/
@per-samuelsson @miyconst please review when possible.

[2016-01-27 17:54] miyconst commented on #35
The article is good and the content is right. Some tips to improve:

- Add left side menu and right side content block like here: http://starcounter.io/guides/database/.
- Every sentence on the page is very long, would be good to shorten them.
- Add a link to explain transaction re-trying mechanism.
- Add a note that detaching hooks is not possible right now.
- Add a note that accessing json view-

[2016-01-27 18:28] per-samuelsson commented on #35
Nice one, @dan31!

Two short comments:

I'd rather **change** that to say that the first argument is an implementation detail, and should not normally be used. And maybe mention it could be `null`.

And you could also **add** to the last section that CRUD operations introduced *inside* a hook is *not* triggering additional hooks.

And comments on what @miyconst commented:

Agree.

Don't think that

[2016-01-27 18:35] miyconst commented on #35
Just make those words be a link to another page, would be good for navigation.

[2016-01-28 12:08] per-samuelsson commented on #35
On a related note, am I the only one feeling that event-based approach we choose when designing the API feels a bit outdated?

I know, we've where through things over and over, and on top of that, it's really not the time to start making changes I think (considering everything in the pipe). But I would really favor an approach promoting lambdas, hence this

[code]

rather than this

[code]

That w

[2016-01-28 12:20] per-samuelsson commented on #35
Hmm, reviewing the code now, it looks like I might actually have implemented that but forgot I did. I'll review that too, so don't do this until I give feedback:

[2016-01-28 12:22] per-samuelsson commented on #35
Nah, false alarm. It raise an exception runtime if you try, I can see that now. So adding that section is in place, as @miyconst point out.

[2016-01-28 12:27] per-samuelsson commented on #35
More feedback btw:

1. Rename "TestCH" to like "TestHooks". Those kind of abbrevations feel to much C/C++ IMO. :smile:
2. In all `Console.Writeline` output, remove cryptic "CH" and "TR" prefixes. The sample is simple enough to understand without them.

[2016-01-28 13:47] jakubklekota opened #131 "Problem when renaming *.json.cs"
Hello,
It's problem when renaming file in VS2013 - *.json.cs in app.

When rename from ex. ```settings.json.cs``` to ```newSettings.json.cs``` in code behind stay old name.

It's very misleading

[2016-01-28 14:07] miyconst commented on #131
cc @per-samuelsson

[2016-01-28 14:08] per-samuelsson commented on #131
/cc @chrhol

[2016-01-28 14:09] per-samuelsson commented on #131
@jakubklekota

Have you tried renaming the `json`, instead of the `json.cs`? I think that is the support we have.

[2016-01-28 14:22] jakubklekota commented on #131
@per-samuelsson

Please create new starcounter application project. Add new item in solution - Starcounter -> Starcounter Typed JSON with Code-behind. Change ```json``` name. Next ```json``` and ```json.cs``` files has been changed, but when open ```json.cs``` file partial class have old name

[2016-01-28 14:38] chrhol commented on #131
@jakubklekota,  @per-samuelsson: The problem I think is that there is no refactoring triggered when renaming the file so the actual name of the class is not changed, which differs from how renaming standard files work where you get a question if you want to change the name of the class as well.

I thought there was an (old) issue about this on the starcounter issuetracker, but I cannot find it. I

[2016-01-28 14:41] warpech commented on #131
Thanks for reporting.

@chrhol can you cross-link to that issue or create a new one?

Afterwards think this one can be closed, because this issue tracker is for website problems.

[2016-01-28 14:48] chrhol commented on #131
Added issue https://github.com/Starcounter/Starcounter/issues/3319. Will close this one then.

[2016-01-28 14:48] #131 closed

[2016-01-28 15:34] warpech opened #132 "Describe code behind"
Currently on .io there is no definitive page about JSON code behind. To answer a question: what is this `.json.cs` file anyway?

As it was pointed out in email by @HRidge, there is no information about the fact that it is the `[FileName_json]` attribute that defines the relation between a class in the `.json.cs` file and an object in the JSON tree. The class name given in C# may be used in other p

[2016-01-29 07:48] MLidstrom opened #133 "Tutorial screenshots needs updating"
The screenshots of the launcher shows the dashboard menu item. In recent versions of the launcher the dashboard isn't visible until you add a menu item. An example on the bottom of this page:
http://starcounter.io/tutorials/invoicedemo-part-3/3-2-run-invoicedemo-inside-launcher/

[2016-01-29 10:39] warpech opened #134 "Information on browser compatibility"
Add some info to all our HTML samples in .io saying what browsers are supported. Maybe this should be done as a snippet that is automatically included in all of the pages.

Suggested by @MLidstrom.

[2016-01-29 12:22] warpech commented on #133
This is almost correct - actually currently in Launcher there is no such thing as "dashboard". The screenshots should be updated to only show "menu" and "launchpad".

[2016-01-29 13:16] MLidstrom opened #135 "The path to the error log file is wrong"
On the page http://starcounter.io/guides/tools/error-log/ it says that the log file folder is to be found at C:\Users\[YourName]\Starcounter\[Version]\Personal\ but it should be C:\Users\[YourName]\Documents\Starcounter\Personal

[2016-01-29 13:23] per-samuelsson commented on #135
Yeah, that pattern recently changed. Good catch. Thanks.

[2016-01-29 13:54] bigwad commented on #135
Perhaps then something like \<*my documents*\>\Starcounter\Personal?

[2016-02-08 11:10] jakubklekota opened #136 "Transaction.Abort(); - not existing"
@warpech, could you correct in part of documentation [Long runnning transactions](http://starcounter.io/guides/transactions/long-running-transactions/) `Transaction.Abort` to `Transaction.Rollback()`, beacuse `Transaction.Abort` not exist.

[2016-02-08 11:20] warpech commented on #136
I edited the page to say `Transaction.Rollback` instead of `Transaction.Abort`.

@chrhol could you please review the rest of the page? Is everything else up to date?

[2016-02-12 17:46] alemoi commented on #111
Added a small example for both UDP and TCP sockets.

[2016-02-12 17:46] #111 closed

[2016-02-15 08:44] dan31 opened #137 "Document = null vs IS NULL for SQL"
As a result of this investigation https://github.com/Starcounter/Starcounter/issues/2362, an important clarification for a frequent case of null checking is clarified. I suggest the clarification to be posted to a guide http://starcounter.io/guides/sql/ as a separate sub-part (like "Checking nulls" or similar). The default SQL semantic that we support seems somewhat misleading to other users and h

[2016-02-15 09:52] k-rus commented on #137
I would put it into [comparison predicates](http://starcounter.io/guides/sql/comparison-predicates/).

[2016-02-16 15:20] dan31 commented on #35
@miyconst, could you come up with a particular example for this: "accessing json view-model from a hook is not possible", when is this necessary? better with some code snippets.

[2016-02-16 15:57] miyconst commented on #35
Well, this is not something required, but something developers may try to.

Now rethinking this issue with the latest knowledge of Starcounter, I narrowed the scope. It happens because the hook and the view-model are in different transactions/scopes.

An example:

#### IndexPage.cs

[code]

#### Program.cs

[code]

This works perfect. As soon as `/insert` called, the `/index` page gets updated. No

[2016-02-16 16:02] warpech commented on #110
Created the page: http://starcounter.io/style-guide/

You can see the markup by clicking on the "Edit page" button

![screen shot 2016-02-16 at 17 02 07](https://cloud.githubusercontent.com/assets/566463/13081961/17e6b62e-d4cf-11e5-91aa-8fcda4f3a3f3.png)

[2016-02-16 16:02] #110 closed

[2016-02-16 16:37] dan31 opened #138 "Fixed width layout for main contents on a page with side bar?"
I have an impression that the main content div doesn't reflect to the window width and hence steals the relevant pieces. Is it on purpose, or we can improve it and let the right side be more flexible?

<img width="934" alt="untitledxx" src="https://cloud.githubusercontent.com/assets/7162535/13083100/e224915a-d4d3-11e5-84ab-be5e74e605e8.png">

[2016-02-16 16:47] warpech commented on #138
My newest idea is to turn on word wrapping, so that horizontal scrollbar will not appear. Otherwise, there will always be code snippets that don't fit horizontally.

It will be similar to what's on this page: http://php.net/manual/en/mysqli.quickstart.multiple-statement.php

This will also be good for small screens (smartphones, etc). WDYT?

[2016-02-16 16:52] warpech commented on #138
I have turned on word wrapping for code samples. This is how it looks now:

![screen shot 2016-02-16 at 17 50 49](https://cloud.githubusercontent.com/assets/566463/13083571/e9b775f2-d4d5-11e5-893a-8e7b65394f2a.png)

How do you like it?

I would like to keep the column width, because there are pages where the right and left column is used: http://starcounter.io/tutorials/1-introduction-to-part-1/1-

[2016-02-16 17:42] warpech commented on #135
Actually the page says: `C:\Users\[YourName]\Starcounter\[Version]\Personal\`

I assume this was wrong for much longer time, because the previous path was `C:\Users\[YourName]\**Documents**\Starcounter\[Version]\Personal\` and the current path is `C:\Users\[YourName]\**Documents**\Starcounter\Personal\`.

I have updated the text. Now it is:

  - In older versions of Starcounter, it was: `C:\Users\

[2016-02-16 17:43] #135 closed

[2016-02-16 17:43] warpech commented on #130
This is fixed now

[2016-02-16 17:43] #130 closed

[2016-02-16 17:45] warpech commented on #128
The theme was updated today to 3.9.3.

The problem still persists because I actually prefer this ugly glitch than the "responsive" hamburger icon that shows up otherwise. I will keep this issue open until I find a better solution.

[2016-02-16 18:31] warpech commented on #125
Thanks! Fixed now

[2016-02-16 18:31] #125 closed

[2016-02-16 18:35] warpech commented on #109
Done. This page shows how to add a sidenote: http://starcounter.io/style-guide/

[2016-02-16 18:35] #109 closed

[2016-02-17 17:18] warpech commented on #124
I prefer not to mention that you need to stop the debugger, because this information would need to be repeated on every page. I suppose everyone can figure this out. @miyconst, @dan31 WDYT?

should be
”Let’s edit the file InvoicePage.json. Change the wireframe to look like this:”

I have rewritten the sentence to be "The desired user interface can be represented as the below JSON tree". I have rep

[2016-02-17 17:18] #124 closed

[2016-02-17 17:55] warpech commented on #133
Updated all of the screenshots in InvoiceDemo Tutorial Part 3 that were outdated. Thanks for reporting!

[2016-02-17 17:55] #133 closed

[2016-02-17 18:27] dan31 commented on #124
Generally, in newest asp.net environments you can edit code without stopping the debugging session. I don't know if you can add new files in such case. However, I think we don't need to mention it explicitly, it should be obvious from the context.

[2016-02-19 17:30] warpech commented on #108
I ended up not replacing anything but adding a new page (Blending).

We have some many concepts regarding mixing of the apps:

[Sharing data](http://starcounter.io/guides/web/sharing-data/), achieved through:
- using the same dll, or
- [data mapping](http://starcounter.io/guides/apps/database-mapping/)

[Sharing screen](http://starcounter.io/guides/web/sharing-screen/), achieved through:
- [URI ma

[2016-02-19 17:30] #108 closed

[2016-02-19 17:33] warpech commented on #102
Done http://starcounter.io/updated-guides/

[2016-02-19 17:33] #102 closed

[2016-02-22 05:25] dan31 commented on #35
Reflected most of remarks except one regarding @miyconst view-model comment. Also got request from @alemoi and @careri to better explain a moment when commit hook is triggered. I'm going to select a right example for it with commit rollbacks.

[2016-02-22 07:39] careri commented on #35
@miyconst as far as I've been able to figure out you need to register hooks at the main program thread during startup. right? This goes for creating indices as well?

An other opinion about the CommitHooks is that they are all actually pre commit hooks. They are triggered before the commit is actually written as far as I can tell. You have no idea if the commit that triggered the hook will be roll

[2016-02-22 07:55] miyconst commented on #35
@careri most of the time I use hooks in static constructor of a class. I am not sure whether it is main program thread.
 An example:

[code]

We also use hooks to notify applications about user sign in state. SignIn application creates new SystemUserSession, and dependent applications `Hook<SystemUserSession>.CommitInsert` and update their state according to currently signed in user.

I know that

[2016-02-22 08:40] per-samuelsson commented on #35
Not sure about that one. I don't think so, if I should guess. But its not related to this thread. Can you open a question issue about that one, so we can get a correct answer?

They are actually not "pre commit" either - they are *part of* a comitting transaction. They kind of need to obey to what happens to the transaction overall, and hence they can not influence "other" functionality, like if t

[2016-02-22 08:42] per-samuelsson commented on #35
The mindset to get into as a hook developer: "What do I want to add (insert), change (update) and remove (delete) if the current transaction should succeed".

[2016-02-22 10:29] careri commented on #35
Yes, pre was the wrong name for it. I know how it works, but couldn't find the correct label.
But this example put's the finger on the problem.
https://github.com/StarcounterSamples/UserAdmin/blob/master/src/UserAdmin/Api/CommitHooks.cs

The pages are changed even though the commit might rollback. In most cases I would benefit from having PostCommit-hooks, meaning hooks that are actually called af

[2016-02-22 10:32] miyconst commented on #35
The commit might rollback only if an exception occurs. Otherwise it will commit after one or more tries.

It's not an issue if the page gets updated on each try, and the app is not usable if commit got aborted because of an exception.

So this example works perfectly fine.

[2016-02-22 12:16] careri commented on #35
Yes of course it works. But there is now need to trigger the hook in your example until the change is actually written.

The same goes for IndexPage.cs above, the Data-property is bound to an instance that might actually not exist if e.g. a UniqueConstraintViolation is thrown after the hook is called

[2016-02-22 12:34] miyconst commented on #35
@careri I agree that this cases could/should be replaced with post-commit hooks, but if we have to select only pre-commit or post-commit hooks, then I prefer pre-commit one.

The pre-commit hooks work fine for necessary data changes and UI updates. The post-commit hooks would work only for UI updates.

[2016-02-22 21:03] careri commented on #35
Well that's only true for the BeforeDelete-event, the insert or update events would work just fine with the post event hook. I usually want to react to data changes once I'm sure they are really written. Like sending messages to clients (not UI).

With the pre/during-commit hook I have to write some informational item for the data change that I then have to query for in another transaction to chec

[2016-02-22 22:08] per-samuelsson commented on #35
We could certainly consider extending Starcounter to support that too, but it seems to me its more of a marginal case. As a general feature, if I'd had to guess what was most useful between the two, I'd say the one we have today. That's just a guess though.

The thing with the second alternative - post-commit hooks - is that it kind of suffers from the same thing a feature such as `IsNew()` previo

[2016-02-22 22:15] per-samuelsson commented on #35
As a bottomline for this particular issue, I'd say we should just make sure we *accurately document how things work today*. It's quite unlikely we'll change the current behavior in any near future, and we must try separate what is requests for new features, and what it is we can improve right now - i.e. document what we have.

@careri, if you feel strongly about post-commit hooks, and that they sh

[2016-02-23 08:16] careri commented on #35
Well the first time I realized the problem when I was writing the word search engine in the old SCDB (1.5).
1. A user changed the name of a product.
2. A commit hook reacted to the name change and triggered an update och the word cache (not persistent)

So far so good, but then we started to get customer issues about not getting matches. Sometimes the commits was rolledback due to different constr

[2016-03-01 07:45] dan31 opened #139 "Explain protecting Starcounter with HTTPS using nginx front-end"
All materials are ready. Need to dump the knowledge into the article.

[2016-03-04 05:47] per-samuelsson opened #140 "Help format trace output in "Troubleshooting weaver failures""
The relevant info is in https://github.com/Starcounter/Starcounter/issues/3420#issuecomment-191767391.

@warpech, do you have any advice for that? I really hate the fact that at looks perfect on GitHub issues (see comment) and crappy on Wordpress.

[2016-03-04 11:40] warpech commented on #140
Do you just mean remove the coloring?

You can disable coloring by hinting a plain text format.

<img width="680" alt="screen shot 2016-03-04 at 12 39 57" src="https://cloud.githubusercontent.com/assets/566463/13526142/49527f1a-e206-11e5-8f0f-2089f3cef96f.png">

I did it on the page http://starcounter.io/guides/tools/weaver/#troubleshooting-weaver-failures

[2016-03-04 12:48] warpech opened #141 "Write an article about jQuery"
Why is it bad to use jQuery in Starcounter apps? What are the consequences of few apps loading jQuery and overwriting each other's jQuery plugins?

[2016-03-04 12:56] miyconst commented on #141
Yes, this is a very important topic.

I was thinking of writing an article about web components: *What should be a custom element and when to use it*.

[2016-03-15 13:07] bigwad opened #142 "Suggest user to exclude database files from scanning by antivirus"
Adding database data folders to antivirus exclude list is really worth for performance. Makes sense to mention it [here](http://starcounter.io/guides/tools/run-starcounter-in-production/#checklist-starcounter-in-production) and specify default data location. Microsoft KB [article] (https://support.microsoft.com/en-us/kb/309422) for SQL server may be used as a sample.

[2016-03-15 16:25] dan31 commented on #142
Good suggestion, how much impact did you observe?

[2016-03-15 16:31] bigwad commented on #142
More than 40% acceleration (5 to 3 min) of such a heavy disk operation as log optimization. Didn't measure anything else.

[2016-03-16 10:33] warpech commented on #142
Should it be added to
http://starcounter.io/guides/tools/run-starcounter-in-production/

or maybe create a new page "Optimizing preformance"?

--
Marcin Warpechowski
+48 603 607 801

On Tue, Mar 15, 2016 at 5:31 PM, bigwad <notifications@github.com> wrote:

[2016-03-17 15:30] warpech opened #143 "Describe using BEM in Starcounter apps' CSS"
Describe using BEM pattern in Starcounter apps' CSS, as proposed in https://github.com/Starcounter/Starcounter/issues/3450

[2016-03-17 16:08] warpech commented on #101
Related: https://github.com/Starcounter/Starcounter/issues/2295

[2016-03-17 16:45] warpech opened #144 "Describe the usage of Bootstrap in Starcounter apps"
Describe the when (and when not) to use Bootstrap CSS framework in Starcounter apps

Currently, there is only a short mention of it on http://starcounter.io/guides/web/launcher/

[2016-03-17 16:46] warpech commented on #144
The article will be illustrated by the usage of Bootstrap in the KitchenSink, which is implemented in the issue https://github.com/StarcounterSamples/KitchenSink/issues/15

[2016-03-17 23:15] aloscha opened #145 "Transaction Commit - best practise"
Is there some rule, when we need to do Transaction.Commit and when not?

[2016-03-17 23:17] aloscha opened #146 "Transaction Commit - Abort/Cancel"
What exactly does the method Input.Cancel (please refer to http://starcounter.io/guides/web/server-side-view-models/)

[2016-03-18 00:39] aloscha opened #147 "Make each requests with source code"
Provide the example of PUT, PATCH etc. as a different bookmark.
http://starcounter.io/guides/network/handling-requests/

[2016-03-18 00:42] aloscha opened #148 "Expand section Unregistering existing HTTP handlers"
Expand section in documentation "Unregistering existing HTTP handlers" (http://starcounter.io/guides/network/handling-requests/)

[2016-03-18 05:10] per-samuelsson commented on #145
If I'm not mistaken, `Transaction.Commit` will soon be replaced, so it's probably not the most urgent thing to document. And if we do, and I'm right, we should put a disclaimer on it, pointing to what we have in mind for the future.

[2016-03-18 09:15] warpech commented on #145
I discussed it with @aloscha - the question was about the best practice of mixing `Db.Scope()/Transaction.Commit()` with `Db.Transact()`.

I have seen new developers mix both concepts in the same view-models and I would like to have a good answer about when do you use what.

[2016-03-18 09:16] warpech commented on #148
To be more specific: @alemoi could you please provide example of using `Handle.UnregisterHttpHandler`

[2016-03-18 09:22] warpech commented on #147
What do you mean as a different bookmark? As a separate page?

`GET`, `POST, `PUT`, `DELETE`, `OPTIONS`, `PATCH` and `CUSTOM` are all methods of the same `Handle` static class, so I think it makes more sense to have them on the same page.

Or do you mean that the examples are too shallow?

[2016-03-18 09:30] warpech commented on #146
It is a good point. The above page shows the usage of `Input.Cancel()` without explanation.

[2016-03-18 09:46] warpech opened #149 "Explain layout editor and how it works"
As suggested by @aloscha, current website only mentions layout editing very briefly on pages:

- http://starcounter.io/guides/web/launcher/
- http://starcounter.io/guides/web/blending/

We should add a more proper explanation about how it works, including mentioning of the fact how Shadow DOM is used to distribute root nodes from partials to grid cells in the UI.

@cc WDYT? Is there any page from

[2016-03-18 10:27] miyconst commented on #145
I am not sure of how soon that might happen, but we have plans to remove `Db.Scope` and introduce database branching. Some reading about branching is available here: https://starcounter.gitbooks.io/rebelslounge/content/branching/branching.html.

**Db.Transact**

- May be executed multiple times in case of a conflict, should not cause any side effects.
- Should be executed withing 1-2 seconds.
- Wo

[2016-03-18 10:31] miyconst commented on #146
For me it is obvious, but I agree, some explanation would be good.

[2016-03-18 10:47] alemoi commented on #148
Sure, I will add some useful example there.

[2016-03-18 10:51] warpech commented on #148
Thanks!

[2016-03-18 10:54] warpech commented on #146
Well, it just pops up unannounced in a code snipped. That's certainly not the sufficient way to document things :)

[2016-03-18 10:54] warpech commented on #145
@miyconst do you think the above should be added as a new page on the .io website? I do!

[2016-03-18 15:25] aloscha commented on #147
Indded separate page with example of requests.

[2016-03-18 17:28] miyconst commented on #145
Same here :)

[2016-03-30 11:58] warpech opened #150 "Explain AutoRefreshBoundProperties"
Explain API that was added in https://github.com/Starcounter/Starcounter/issues/1602 on Starcounter.io

It is used by @malx122 and possibly will be used in Launcher workspaces.

[2016-04-05 10:09] aloscha opened #151 "Refactor post "Acceptance testing with Selenium" on Starcounter Web Guides"
Please refactor post http://starcounter.io/guides/web/acceptance-testing-with-selenium/ with

- Add link to kitchensink repository
- Add requirement - understand unit testing in basic level (here we could add links with example tutorial. I found two really good guides http://www.rhyous.com/programming-development/csharp-unit-test-tutorial/ and https://msdn.microsoft.com/en-us/library/hh694602.aspx

[2016-04-05 16:21] warpech commented on #151
You also mentioned on a Hangout with me that it is unclear why NUnit 2.6.4 is used, not the current version. I had some problems with 3.2.0, so this needs to be double checked.

For test runner, I just changed the article to mention `NUnit.Runners -Version 3.2.0`, because it has a nicer command line reporting interface.

[2016-04-06 20:02] warpech commented on #151
Another thing that needs to be added to the article: add information how to wait for content that is asynchronously loaded in partials.

[2016-04-07 12:12] warpech commented on #149
cc @tomalec WDYT? Is there any page from GitBook that can be used as source for this?

[2016-04-07 12:12] warpech commented on #149
Include information about "duck shooting".

[2016-04-07 13:24] warpech opened #152 ""Accept" button does not close the cookie information"
"Accept" button does not close the cookie information on Starcounter.com

<img width="885" alt="screen shot 2016-04-07 at 15 23 05" src="https://cloud.githubusercontent.com/assets/566463/14352417/bae9b2cc-fcd4-11e5-852b-bb57d08d3d05.png">

[2016-04-07 14:39] tomalec commented on #149
Would you like to describe the editor or `juicy-tile-*`/layout composer? as later you wrote:

Do you mean technical internals of `juicy-tile-*`?

I'm not sure if we should go that deep, especially that internal implementation will change as browser vendors will adapt to the latest spec.

Long time ago I wrote some pages on how layouts, and juicy-tiles works

https://github.com/Juicy/juicy-tile-gri

[2016-04-07 16:35] k-rus commented on #152
+1

[2016-04-08 18:42] warpech commented on #143
I have posted the article about BEM here: http://starcounter.io/guides/web/avoiding-css-conflicts/

@tomalec, @miyconst, @aloscha, @ubbeK comments welcome!

[2016-04-11 16:11] miyconst opened #153 "Explain substitute handlers"
Substitute handlers should be explained here: http://starcounter.io/guides/network/handling-requests/.

Original issue: https://github.com/Starcounter/Starcounter/issues/3484.

[2016-04-11 16:28] miyconst commented on #153
Possible rename it to "anonymous handlers".

[2016-04-12 12:21] warpech opened #154 "Change this into private issue tracker called "TechComm""
In the 7-month history of this issue tracker, all 153 issues were reported by people affiliated with Starcounter. Nothing was reported by a person that does not have access to RebelsLounge.

Because of that, I agreed with @dan31 to change this repo to private, so we can change the tone of conversation to more relaxed.

To allow people to comment on the content of http://starcounter.io/ website, I